/* vietnamese */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(../fonts/nunito/XRXV3I6Li01BKofIOuaBXso.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(../fonts/nunito/XRXV3I6Li01BKofIO-aBXso.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(../fonts/nunito/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background: #F8FAFC;
    font-family: Nunito,sans-serif;
    /*font-size: .9rem;*/
    /*line-height: 1.6;*/
}
.navbar-top {
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.04);
}
.navbar-brand {
    /*font-size: 1.125rem;*/
}
.col-form-label {
    line-height: 1.6;
}
.btn {
    /*font-size: .9rem;*/
    /*line-height: 1.6;*/
}


/**
 * Colors
 */
.text-points {
    color: #FD7E14;
}

/**
 * Utilities
 */
.w-90 {
    width: 90%;
}
.w-85 {
    width: 85%;
}
.w-80 {
    width: 80%;
}
.w-70 {
    width: 70%;
}
.w-65 {
    width: 65%;
}
.w-60 {
    width: 60%;
}
.w-55 {
    width: 55%;
}
.w-45 {
    width: 45%;
}
.w-40 {
    width: 40%;
}
.w-35 {
    width: 35%;
}
.w-30 {
    width: 30%;
}
.w-20 {
    width: 20%;
}
.w-15 {
    width: 15%;
}

.nextMatchesContent,
.lastMatchesContent,
.noPodiumContent {
    max-height: 270px;
    overflow-y: scroll;
}
.hitsContent,
.missesContent {
    height: 252px;
    overflow-y: scroll;
}

/**
 * Dashboard
 */
.rankingItem:first-child .rankingItemPosition {
    background: rgba(214, 214, 214);
}
.rankingItem:first-child .rankingItemUser {
    background: rgba(239, 239, 239);
}
.rankingItem:nth-child(2) .rankingItemPosition {
    background: rgba(214, 214, 214, 0.7);
}
.rankingItem:nth-child(2) .rankingItemUser {
    background: rgba(239, 239, 239, 0.7);
}
.rankingItem:nth-child(3) .rankingItemPosition {
    background: rgba(214, 214, 214, 0.4);
}
.rankingItem:nth-child(3) .rankingItemUser {
    background: rgba(239, 239, 239, 0.4);
}

/**
 * Ranking
 */
.rankingPodiumFirst .card-body div:first-child,
.rankingPodiumSecond .card-body div:first-child,
.rankingPodiumThird .card-body div:first-child {
    font-size: 1rem;
}
.rankingPodium .rankingPodiumFirst {
    width: 180px;
}
.rankingPodium .rankingPodiumFirst .card-header {
    background: rgba(214, 214, 214);
    height: 180px;
}
.rankingPodium .rankingPodiumSecond {
    width: 150px;
}
.rankingPodium .rankingPodiumSecond .card-header {
    background: rgba(214, 214, 214, 0.7);
    height: 150px;
}
.rankingPodium .rankingPodiumThird {
    width: 120px;
}
.rankingPodium .rankingPodiumThird .card-header {
    background: rgba(214, 214, 214, 0.4);
    height: 120px;
}
.rankingPodium .rankingPodiumFirst a:hover,
.rankingPodium .rankingPodiumSecond a:hover,
.rankingPodium .rankingPodiumThird a:hover {
    background: #F8F9FA;
    text-decoration: none;
}
