
.lead {
    font-size: 1.25rem;
    font-weight: 400;
}
.display-1 {
    font-size: 6rem;
}
.display-1,
.display-2 {
    font-weight: 700;
    line-height: 1.2;
}
.display-2 {
    font-size: 5.5rem;
}
.display-3 {
    font-size: 4.5rem;
}
.display-3,
.display-4 {
    font-weight: 700;
    line-height: 1.2;
}
.display-4 {
    font-size: 3.5rem;
}
.img-fluid {
    height: auto;
    max-width: 100%;
}
.intro-content {
    position: relative;
    z-index: 2;
}
.icon {
    background: rgba(0, 0, 0, 0.2);
    border-radius: .35rem;
    color: #FFFFFF;
    display: inline-block;
    font-size: 2rem;
    line-height: 1;
    padding: .66667rem;
    text-align: center;
    width: 54px;
}
.img-cover {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    -o-object-fit: cover;
}
.bg-overlay:after {
    background: rgba(18, 131, 218, .85);
    bottom: 0;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}